{{ partial "head" . }}

<body>

  {{ partial "off-canvas" . }}

  <div class="site-wrapper">
    {{ partial "header" . }}

    <section class="single-wrap">
      <article class="single-content" itemscope itemtype="//schema.org/BlogPosting">
        <h1 class="page-title" itemprop="name headline">{{ .Title }}</h1>
                  <time datetime="" itemprop="datePublished">
                    {{ .Date.Format "2. January 2006" }}
                  </time>
        <div itemprop="articleBody" class="articleBody">
          {{ .Content }}

        </div>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Banner Ad -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7500481806227065" data-ad-slot="3083076497"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});

        </script>
        {{ if .NextInSection }}
        <a rel="next" href="{{ .NextInSection.Permalink }}" id="next">
          <span class="nav-title nav-title-next">{{ with .Site.Params.newer }}{{ . }}{{ end }}</span> &rarr;
        </a>
        {{ end }} {{ if .PrevInSection }}
        <a rel="prev" href="{{ .PrevInSection.Permalink }}" id="prev">
          &larr;
          <span class="nav-title nav-title-prev">{{ with .Site.Params.older }}{{ . }}{{ end }}</span>
        </a>
        {{ end }}
      </article>
    </section>

    {{ partial "footer" . }}
  </div>

  {{ partial "js" . }}
</body>

</html>
